.divis{
    height: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul li{
    float: left;
}

ul li a {
    padding: 15px 18px;
    text-decoration: none;
    background-color: #333;
    color: white;
    font-weight: bold;
    text-align: center;
    display: block;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
ul li a:hover{
    background-color: lemonchiffon;
    color: seagreen
}

.righty{
    float: right;
}
div{

    height:800px;
   
}
.flex-container {
    display: flex;
}
.flex1{
    background-color: white;
    height: fit-content;
    border: 10px ridge #EABA4A;
}
.flex2{
    background-color: white;
    height: fit-content;
    border: 10px ridge #EABA4A;
}
h3{
    text-align: center;
}
h1{
    color: lemonchiffon;
    background-color: #333;
    width: fit-content;
    
}
input{
    border: 4px red solid;
    display: inline-block;
    padding: 12px 15px;
    border-radius: 50px;
    color: #333;
    background-color: white;
    font-weight: bolder;
    
}
input:hover{
    background-color:skyblue;
    color: white;
    border: 4px solid black;
    text-align: center;
}
p{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Otomanopee One', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    color:white;
    font-size: 23;
    font-weight: bold;
    border: 3px solid red;
}
/* .flex-child {
    flex: 1;
    border: 2px solid yellow;
}   */

/* .flex-child:first-child {
    margin-right: 20px;
}  */
/* div div div div{
    display: inline-block;
} */
/* .first-righty{
    display: inline-block;
    margin-left: 400px;
} */
/* .menu{
    display: inline-block;
    margin-left: 400px;
    
} */


/* img{
    border: 2px solid blue;
} */
/* .myh1{   
    margin-left: 700px;
    text-align: center;
    border: 2px solid blue;
    width: fit-content;
   
} */